.bgLicense {
    background-color: #f4f7ff;
}

.m-dialog-content-title {
    margin: 0;
    padding: 10px 0;
    font-size:16px;
}

.m-dialog-label-license {
    opacity: 0.8;
}

.m-license-search {
    background-color: #fff;
    padding:16px;
    display: flex;
    justify-content:space-between;
}

#widthLicense {
    width: 940px;
}

.license-detail .outer {
    height:158px;
    overflow-y: auto;
    background-color: #fff;
}

.license-detail {
    padding: 0 16px;
}

