.content {
    height :calc(100vh - 44px);
    width: 100%;
    background-color: #f4f7ff;
}

.content-header {
    display: flex;
    padding: 16px 16px 8px;
    justify-content: space-between;
    align-items: center;
}

.content-heading {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}
